<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Marko UI Components Playground</title>
  <style>
    .container {
      margin-left: auto;
      margin-right: auto;
      width: 800px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Marko UI Components Playground</h1>
    <main id="main">
      <playground-app/>
    </main>
  </div>
</body>
</html>
