.app-button.app-checkbox {
  background-color: #999999;
  color: #ffffff;
}

.app-button.app-checkbox.checked {
  background-color: #2980b9;
  color: #ffffff;
}

.app-checkbox.checked .app-checkbox-icon {
  opacity: 1.0;
}
